<div class="container">
  <app-logo *ngIf="!enterDashboard" @logoAnimation></app-logo>
  <div class="login-container">
    <div *ngIf="!urlChange"  class="description" @welcomeAnimation>
      <h1>Welcome</h1>
      <h2>Login</h2>
    </div>
    <div *ngIf="!urlChange" class="inputs" @inputAnimation>
      <app-text-input
        [(value)]="loginFormData.username_email"
        [textInputProperties]="usernameEmailInputProperties"
      ></app-text-input>
      <app-text-input
        [(value)]="loginFormData.password"
        [textInputProperties]="passwordInputProperties"
      ></app-text-input>
    </div>
    <div *ngIf="!urlChange"  class="buttons" @buttonAnimation>
      <app-button [buttonProperties]="submitButtonProperties" (click)="onLoginClicked()"></app-button>
      <h4>
        Don't have an account?
        <a (click)="onCreateAccountClicked()">Create Account</a>
      </h4>
    </div>
  </div>
</div>
