<div class="container">
  <div class="description-container">
    <app-icon [iconProperties]="logoIcon"></app-icon>
    <h1>Manage your files the best way</h1>
    <h5>
      Awesome, we've created the perfect place for you to store all your
      documents.
    </h5>
    <img src="assets/images/Illustration.svg" alt="image" />
  </div>
  <form class="login-container">
    <div class="description" @welcomeAnimation>
      <h1>Welcome</h1>
      <h2>Login</h2>
    </div>
    <div class="inputs" @inputAnimation>
      <app-text-input
        [textInputProperties]="usernameEmailInputProperties"
      ></app-text-input>
      <app-text-input
        [textInputProperties]="passwordInputProperties"
      ></app-text-input>
    </div>
    <div class="buttons" @buttonAnimation>
      <app-button [buttonProperties]="submitButtonProperties" ></app-button>
      <h3>Don't have an account? <a href="">Create Account</a></h3>
    </div>
  </form>
</div>
