<div class="container">
  <div class="header">
    <app-icon [iconProperties]="logoIcon"></app-icon>
    <app-search-box></app-search-box>

    <div class="right-side">
      <app-button [buttonProperties]="uploadButtonProperties"></app-button>
      <div class="avatar">
        <nz-avatar
          nzShape="circle"
          nzSrc="assets/images/Avatar.svg"
        ></nz-avatar>
        <h4>michael</h4>
      </div>
    </div>
  </div>
  <div class="content">
    <h1>Objects</h1>
    <h4>Total: 12GB</h4>

    <div class="items">
      <app-object></app-object>
      <app-object></app-object>
      <app-object></app-object>
      <app-object></app-object>
      <app-object></app-object>
      <app-object></app-object>
      <app-object></app-object>
      <app-object></app-object>
      <app-object></app-object>
      <app-object></app-object>
      <app-object></app-object>
      <app-object></app-object>
      <app-object></app-object>
      <app-object></app-object>
      <app-object></app-object>
      <app-object></app-object>
      <app-object></app-object>
      <app-object></app-object>
      <app-object></app-object>
      <app-object></app-object>
      <app-object></app-object>
      <app-object></app-object>
      <app-object></app-object>
      <app-object></app-object>
      <app-object></app-object>
      <app-object></app-object>
      <app-object></app-object>
      <app-object></app-object>
      <app-object></app-object>
      <app-object></app-object>
      <app-object></app-object>
      <app-object></app-object>
      <app-object></app-object>
      <app-object></app-object>
      <app-object></app-object>
      <app-object></app-object>
      <app-object></app-object>
      <app-object></app-object>
      <app-object></app-object>
      <app-object></app-object>
      <app-object></app-object>
      <app-object></app-object>
      <app-object></app-object>
      <app-object></app-object>
      <app-object></app-object>
      <app-object></app-object>
      <app-object></app-object>
      <app-object></app-object>
      <app-object></app-object>
      <app-object></app-object>
      <app-object></app-object>
    </div>
  </div>
</div>
