<div class="container">
  <div @headerAnimation class="header">
    <app-icon [iconProperties]="logoIcon"></app-icon>
    <app-search-box></app-search-box>

    <div class="right-side">
      <input id="file_to_upload" (change)="onFileChange($event)" type="file"   name="file" />

      <!--      <app-button [buttonProperties]="uploadButtonProperties"></app-button>-->
      <div class="avatar">
        <nz-avatar
          nzShape="circle"
          [nzSrc]="userInformation.avatar"
        ></nz-avatar>
        <h4>{{userInformation.username}}</h4>
      </div>
    </div>
  </div>
  <div @contentAnimation class="content">
    <h1>Objects</h1>
    <h4>Total: {{userInformation.total_volume}}</h4>

    <div class="items">
      <app-object [serialized_data]="item" *ngFor="let item of serializedDataList"></app-object>
    </div>
    <nz-pagination *ngIf="paginationData.totalItems !== 0" [(nzPageIndex)]="paginationData.index" [nzPageSize]="12" [nzTotal]="paginationData.totalItems"></nz-pagination>
  </div>
</div>
