<div class="container">
  <img [src]="serialized_data.extension | logoChanger" alt="figma" />
  <div class="information">
    <h3>App {{serialized_data.name}}.{{serialized_data.extension}}</h3>
    <h5>{{serialized_data.size}} - {{serialized_data.date.slice(0,serialized_data.date.indexOf('.'))}}</h5>
  </div>
  <app-button
    [buttonProperties]="optionsButtonProperties"
    nz-popover
    nzPopoverPlacement="right"
    [(nzPopoverVisible)]="visible"
    [nzPopoverContent]="contentTemplate"
    (click)="clickMe()"
    [nzPopoverTitle]="'app '+serialized_data.name+ '.' + serialized_data.extension"
    (nzPopoverVisibleChange)="change($event)"
    nzPopoverTrigger="click"
  ></app-button>
</div>
<ng-template #contentTemplate>
  <div class="template-container">
    <app-button [buttonProperties]="shareButtonProperties"></app-button>
    <nz-divider></nz-divider>
    <app-button [buttonProperties]="downloadButtonProperties"></app-button>
    <nz-divider></nz-divider>
    <app-button [buttonProperties]="deleteButtonProperties"></app-button>
  </div>
</ng-template>
