<div class="container">
  <img [src]="serialized_data.extension | logoChanger" alt="figma" />
  <div class="information">
    <h3>{{ serialized_data.name }}</h3>
    <h5>
      {{ serialized_data.size }} -
      {{ serialized_data.date.slice(0, serialized_data.date.indexOf(".")).replace('T', ' ') }}
    </h5>
  </div>
  <app-button
    [buttonProperties]="optionsButtonProperties"
    nz-popover
    nzPopoverPlacement="right"
    [(nzPopoverVisible)]="visible"
    [nzPopoverContent]="contentTemplate"
    (click)="clickMe()"
    [nzPopoverTitle]="serialized_data.name"
    (nzPopoverVisibleChange)="change($event)"
    nzPopoverTrigger="click"
  ></app-button>
</div>
<ng-template #contentTemplate>
  <div class="template-container">
    <app-button
      *ngIf="
        authenticationService.userInformation.getValue().username ===
        serialized_data.owner
      "
      [buttonProperties]="shareButtonProperties"
      (click)="showModal()"
    ></app-button>
    <nz-divider
      *ngIf="
        authenticationService.userInformation.getValue().username ===
        serialized_data.owner
      "
    ></nz-divider>
    <app-button
      [buttonProperties]="downloadButtonProperties"
      (click)="onDownloadObjectClicked()"
    ></app-button>
    <nz-divider
      *ngIf="
        authenticationService.userInformation.getValue().username ===
        serialized_data.owner
      "
    ></nz-divider>
    <app-button
      *ngIf="
        authenticationService.userInformation.getValue().username ===
        serialized_data.owner
      "
      [buttonProperties]="deleteButtonProperties"
      (click)="onDeleteButtonClicked()"
    ></app-button>
  </div>
</ng-template>

<nz-modal
  [(nzVisible)]="isVisible"
  [nzWidth]="350"
  nzTitle="Share"
  (nzOnCancel)="handleCancel()"
>
  <ng-container *nzModalContent>
    <div class="content-container">
      <app-search-box [(value)]="searchValue" (valueChange)="onSearchValueChanged($event)"></app-search-box>
      <div class="users-container">
        <app-checkbox
          *ngFor="let item of enrichedUsersItems"
          [userItem]="{
            user: item.user,
            avatar: item.avatar,
            has_access: item.has_access === 'true',
            email: item.email,
          }"
          (onCheckboxChanged)="onCheckboxChanged($event,item)"
        ></app-checkbox>
      </div>
    </div>
  </ng-container>
  <ng-container *nzModalFooter>
    <app-button [buttonProperties]="submitShareButtonProperties" (click)="onContinueButtonClicked()"></app-button>
  </ng-container>
</nz-modal>
