<div class="wave-group">
  <input
    [placeholder]="textInputProperties?.placeholder ?? ''"
    [ngModel]="value"
    (ngModelChange)="valueChange.emit($event)"
    required
    [type]="textInputProperties?.type ?? 'text'"
    class="input"
  />
  <span class="bar"></span>
  <label class="label">
    <span
      *ngFor="let nameLetter of nameArray ?? ''"
      class="label-char"
      [ngStyle]="{ '--index': nameLetter.index }"
      ><ng-container *ngIf="nameLetter.letter !== ' '">{{
        nameLetter.letter
      }}</ng-container>
      <ng-container *ngIf="nameLetter.letter == ' '">
        {{'&nbsp;'}}
      </ng-container>
    </span>
  </label>
</div>
